{% extends "base.html" %}
{% block content %}

<div class="content-section">
    <form method="post" action="verifier" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
                <label>Charger le fichier a verifier</label><br>
                <input type="file" name="file1" placeholder="upload"/><br>
                <label>Charger le fichier de signature</label><br>
                <input type="file" name="file2" placeholder="upload"/><br>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Verifier</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have en account? <a class="ml-2" href="#">Sign In</a>
        </small>
    </div>
    <div>
        {% for message in messages%}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
     <div>
        {% if url1%}
         <h3>Fichier : <a href="{{url1}}">{{url1}}</a></h3>
        {% endif %}
             {% if url2%}
         <h3>Fichier : <a href="{{url2}}">{{url2}}</a></h3>
        {% endif %}
    </div>
     <div>
        {% if verif %}
         <h3>Resultat de la verification: {{verif}}</h3>
        {% endif %}
    </div>
</div>
{% endblock content %}