{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">
<div class="content-section">
    <form method="post" action="register">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
                <input type="text" name="first_name" placeholder="First name" class="form-control"/><br>
                <input type="text" name="last_name" placeholder="Last name" class="form-control" /><br>
                <input type="text" name="username" placeholder="Username" class="form-control" /><br>
                <input type="email" name="email" placeholder="Email" class="form-control"/><br>
                <input type="password" name="password1" placeholder="Password" class="form-control"/><br>
                <input type="password" name="password2" placeholder="Confirm Password" class="form-control"/><br>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have en account? <a class="ml-2" href="#">Sign In</a>
        </small>
    </div>

</div>
         </div>
   <div class="col">
       <div>
        {% for message in messages%}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
   </div>
</div>
{% endblock content %}