{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">
<div class="content-section">
    <form method="post" action="upload" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Télécharger le fichier a signer</legend>
                <label for="document" class="form-control">Fichier : </label><hr><input class="form-control" type="file" name="document" placeholder="upload"/><br>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Upload</button>
        </div>
    </form>
>
</div>
            </div>
   <div class="col">
           <div>
        {% for message in messages%}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
     <div>
        {% if url%}
         <h4>Uploaded file: <a href="{{url}}">{{url}}</a></h3>
        {% endif %}
    </div>
     <div>
        {% if sign %}
         <h3>Empreinte Chiffree: {{sign}}</h3>
         <form action="verifier/{{name}}" method="post">
             <button class="btn btn-outline-info" type="submit">Verifier</button>
         </form>
        {% endif %}
    </div
   </div>
</div
{% endblock content %}